header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color:#0b052d;
  transition: background-color 0.3s;
}

header a {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

header img {
  width: 450px;
  height: auto;
  filter: drop-shadow(0 0 5px #e30f0f);
  margin-top: 9%;
  margin-bottom: 9%;

}

@media (max-width: 1023px) {
  header {
    flex-direction: column;
  }
}